In [1]:
!pip3 install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (8.4.0)

In [2]:
import mysql.connector as connector

In [3]:
connection = connector.connect(user = "capsuser", password = "pass2024" , db = "LittleLemonDB")

In [4]:
cursor = connection.cursor()

In [5]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

results=cursor.fetchall()

columns=cursor.column_names
print(columns)

for result in results:
  print(result)

('Tables_in_littlelemondb',)
('Bookings',)
('Customers',)
('Menu',)
('MenuItems',)
('OrderDelivery',)
('Orders',)
('ordersview',)
('OrderView',)
('Staff',)

In [6]:
print(results)

[('Bookings',), ('Customers',), ('Menu',), ('MenuItems',), ('OrderDelivery',), ('Orders',), ('ordersview',), ('OrderView',), ('Staff',)]

In [9]:
join_query = """ SELECT CONCAT(Customers.FirstName, Customers.LastName) AS 'FullName',
Customers.PhoneNumber, Orders.TotalCost
FROM Customers
LEFT JOIN Orders
ON Customers.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;"""

cursor.execute(join_query)

# Fetching the results in a variable called "results".
results = cursor.fetchall()

# Extracting the names of the columns.
columns=cursor.column_names

# Printing the names of the columns and the stored data using the "for" loop.
print(columns)
for result in results:
 print(result)

# Closing the Connection between Python and MySQL database.
if connection.is_connected():
 cursor.close()
 print("The cursor is closed.")
 connection.close()
 print("MySQL connection is closed.")
else:
 print("Connection is already closed")

('FullName', 'PhoneNumber', 'TotalCost')
('AliceJohnson', '555-123-4567', Decimal('180.50'))
('EvaBrown', '444-777-1111', Decimal('120.75'))
('DanielWhite', '999-888-7777', Decimal('200.25'))
('JohnDoe', '123-456-7890', Decimal('175.00'))
('GraceMoore', '111-222-3333', Decimal('160.00'))
('OliviaMiller', '777-555-9999', Decimal('152.75'))
('JaneSmith', '987-654-3210', Decimal('165.50'))
('BobWilliams', '888-999-0000', Decimal('185.75'))
('CharlieDavis', '222-333-4444', Decimal('160.00'))
('LiamTaylor', '444-666-8888', Decimal('210.30'))
The cursor is closed.
MySQL connection is closed.